body {
background-image: url(images/bg.jpeg);
margin: 90px;
}

#needsbg {
color: white; 
background: rgb(0, 0, 0, .75);
max-width: fit-content; 
padding: 6px 25px; 
}

p {
font-size: 18px; }

h1 {
font-size: 65px; }

video {
    width: 200%;
    max-width: 200px;
    max-height: 300px; }
  
